<%- include('partials/header') %>

    <%- include('partials/nav') %>
        <div class="container">
            <h1 class="title">Quotes App</h1>
            <p class="description">Welcome to the Quotes App - Home Page</p>
        </div>

    <%- include('partials/footer') %>
